<p id="notice"><%= notice %></p>

<p>
  <strong class="text-xs italic">Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong class="text-blue-600 text-3xl">Description:</strong>
  <%= @article.description %>
</p>
